@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Extensions.Localization
@using Rollocracy.Localization

@inject IStringLocalizer<SharedTexts> L
@inject Rollocracy.Domain.Interfaces.ISessionService SessionService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Rollocracy</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler')?.click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView>
            <Authorizing>
                <div class="nav-item px-3">
                    <span class="nav-link">@L["Common_Loading"]</span>
                </div>
            </Authorizing>

            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> @L["Home_Login"]
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="bi bi-person-plus" aria-hidden="true"></span> @L["Home_Register"]
                    </NavLink>
                </div>
            </NotAuthorized>

            <Authorized Context="authState">
                <div class="nav-item px-3">
                    <a class="nav-link" href="/auth/logout">
                        <span class="bi bi-box-arrow-right" aria-hidden="true"></span> @L["Home_Logout"]
                    </a>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="join">
                        <span class="bi bi-door-open" aria-hidden="true"></span> @L["Home_JoinSession"]
                    </NavLink>
                </div>

                @if (CanShowMjMenus)
                {
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="mj/create-session">
                            <span class="bi bi-plus-square" aria-hidden="true"></span> @L["Home_CreateSession"]
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="mj/sessions">
                            <span class="bi bi-play-circle" aria-hidden="true"></span> @L["Home_ResumeSession"]
                        </NavLink>
                    </div>

                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="mj/gamesystems">
                            <span class="bi bi-diagram-3" aria-hidden="true"></span> @L["Home_GameSystems"]
                        </NavLink>
                    </div>
                }
            </Authorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool CanShowMjMenus;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity?.IsAuthenticated != true)
        {
            CanShowMjMenus = false;
            return;
        }

        var userIdValue = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;

        if (string.IsNullOrWhiteSpace(userIdValue) || !Guid.TryParse(userIdValue, out var userId))
        {
            CanShowMjMenus = false;
            return;
        }

        CanShowMjMenus = await SessionService.CanUserCreateSessionsAsync(userId);
    }

    [Inject]
    private AuthenticationStateProvider AuthenticationStateProvider { get; set; } = default!;
}